
<html>
<head>
  </head>
 <body >



<div class="sign-up-form">
<h1>Register Here</h1>
<form>

<input type="text" class="input-box" placeholder="USERNAME">
<input type="email" class="input-box" placeholder="email">
<input type="password" class="input-box" placeholder="password">

<input type="password" class="input-box" placeholder="reenter-password">

<input type="file" class="input-box" />


<button type="button" class="signup-btn">Register</button>

</form>


</div>





   </body>

  </html>
